* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 91.6vh;
  background: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.btn {
  outline: none !important;
  border: none !important;
  cursor: pointer;
}

.input-box {
  width: 100% !important;
  max-width: 30vw !important;
  min-height: 20vh;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #333;
/*   visibility: hidden; */
}
